<!DOCTYPE html>
<html>
<head>
    <title>Registro de datos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h2>Registro de datos</h2>
<form method="post" th:action="@{/register}" th:object="${entry}">
    <label>Nombre</label>
    <input type="text" th:field="*{nombre}" required>
    <label>Apellido</label>
    <input type="text" th:field="*{apellido}" required>
    <label>Dirección</label>
    <input type="text" th:field="*{direccion}" required>
    <label>Teléfono</label>
    <input type="text" th:field="*{telefono}" required>
    <button type="submit">Guardar</button>
    <div>
      <span style="color:green;">
        [[${param.ok} ? 'Registro creado' : '']]
      </span>
    </div>
</form>
</body>
</html>